/* --------------------------- Fondamental ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Space+Grotesk:wght@500;700&display=swap');
:root{
    --bg-body:hwb(225 2% 84%);
    --hero-first:#ffffff;
    --hero-second: #ff6900;
    --hero-bg: hwb(209 67% 24% / 0.425);
    --text1: #abb8c3;
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --ft-logo:35px;
    --line-height:80px;
    --ft-weight:bold;
    --transition: .5s;
    --accent:hwb(51 1% 1%);
    --bg--button : #4646bb;
    --bg--service : hsl(267, 43%, 21%);

}
/* font-family: 'Poppins', sans-serif;
font-family: 'Space Grotesk', sans-serif; */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

body{
    font-family: var(--bs-font-sans-serif);
    overflow-x: hidden;
 
}


html {
    box-sizing: border-box;
    font-size: 100%;
  }

html,
body {
  overflow-x: hidden;
  /* height: 100vh; */
  
}


nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--hero-first);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}

nav .item ul li{
    line-height: 10px;
    margin: 0px;
    padding: 10px;
    display: inline-block;
}



a.active, a:hover{
    transition: .5s;
    
}

.option{
    z-index: 10;
}

ul.option a.active  {
    color: var(--accent);
    transition: var(--transition);
}


.wrapper  a:hover {
    color: var(--accent) !important;
    transition: .5s;
}
a:hover, .wrapper nav.hd__nav ul > a{
    transition: .5s;
    color:var(--accent)

}

/* -------- bg_hero section ------------------ */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)), url("../images/logo4.jpg")no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* border-radius: 15%/20%   ;
    border-top-left-radius: 0;
    border-top-right-radius: 0; */
}

/* ---------- header ----------------*/

.header {
    display: inline;
    gap: 2rem;
    height: 100vh;
    margin: 0;
}

.header__nav {
    /* background-color: var(--bg-body); */
    height: 80px;
    width: 100%;
    /* position: fixed; */

}

.hd__nav {
    /* background-color: var(--bg-body); */
    display: flex;
    overflow: hidden;
    gap:0px;
    justify-content: space-between;
    align-items: center;
    
}

.item , .item ul li a {
    color: white;
    font-family: monospace;
    font-size: 12px !important;
  }
  

.item2 {
    
    margin-right: 20px;
}

.header__social > svg > path {
    transition: fill var(--transition);
  }
  
  .header__social:hover > svg > path {
    fill: var(--accent);
  }

  .checkbtn {
    font-size:30px;
    color: white ;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
}

#check {
    display: none;
}

.checkbtn{
    display: none;
}

label.logo {
    color: var(--hero-first);
    line-height: var(--line-height);
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--hero-bg);
}

/* --------------- hero text ----------------------- */


.hero__container{
    width: 90%;
    height: 100%;
    text-transform: uppercase;
    /* max-width: 1000px; */
    margin: 0 auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center; 
}

.hero__container .info h2{
    font-size: 4rem;
    line-height: 1em;
    /* margin-bottom: .5rem; */
    color: var(--hero-first);
}

.hero__container .info h6{
    /* margin-top: 8rem; */
    font-size: 1rem;
    margin-bottom: .1rem;
    color: var(--hero-first);
}

.hr__color{
    color: var(--accent) ;
}

.hero__container .info a {
    text-decoration: none;
    display: inline-block;
    background-color: var(--bg--button);
    color: var(--hero-first);
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.3em 1em;
    margin-top: 1.7rem;
    text-transform: capitalize;
    transform: var(--transition);

}

.hero__container .info a:hover{
    color: var(--accent);
    background: none;
    transition: var(--transition);

}

.hero .info {
    margin-top: 100px;
    margin-left:30px;
}
/* ------------------------------------------------- */
/* ------- Slide image buttons---------------------------- */

span.next, span.prev{
    position: absolute;
    top:45%;
    transform: translate(-20%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor:pointer;
    z-index:1;
}

span.next{
    right: 20px;
}

span.prev{
    left: 20px;
}

span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}

.dots__slider{
    position: absolute;
    bottom: 5px;
    z-index:3;
    left:48%;
    transform: translate(-20%);
}

.dots__slider .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots__slider .active{
    background-color: var(--hero-second);
}


@keyframes textFadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.dot.active {
    background-color:var(--hero-second);
}
    

/* -------------------------------------------------- */
/* -------------- about the company -------------------- */
.about__company {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin:  auto;
    text-align: center; 
    padding: 70px;
}

.about__sub h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about__sub p {
    font-size: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    line-height: 1.6rem;
}

.about__sub a {
    text-decoration: none;
    display: inline-block;
    background-color:var(--bg--button);
    color: var(--hero-first);
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.3em 1em;
    margin-top: 1.7rem;
    text-transform: uppercase;
    transform: var(--transition);

}

.about__sub a:hover{
    color: var(--hero-second);
    background: none;
    transition: var(--transition);

}
/* --------------------------------------------------- */
/* ------------------ Services titles ------------------- */
.bg__service__title{
    /* height: 20vh; */
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.432),rgba(0, 0, 0, 0.411)) var(--bg--service);
    /* border-radius: 15%/50%   ;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    text-align: center;
    margin-top: 10px;
    padding: 15px;

}

.service__title {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    color: var(--hero-first);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------- */

/* ------------------- Services Photos -------- */

.content__container a{
    text-decoration: none;
    display: inline-block;
    /* background-color:var(--text1); */
    color: var(--bg--button);
    border-style:solid ; 
    font-size: 1.2rem;
    padding: .5em 2em;
    margin-top: 1.7rem;
    text-transform: uppercase;
    transform: var(--transition);
    margin-bottom: 30%;
}
.content__container a:hover{
    color: var(--hero-second);
    background: none;
    transition: var(--transition);

}
.services__container {

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y : 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc( var(--bs--gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    /* height: 100vh; */
}

.services__container .columns {

    flex: 0 0 auto;
    width: 50%;
    height: 100vh;
}

.services__container .columns.service__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.services__container .columns.service__content .content__container {
   padding: 5px 50px;
}
.services__container .columns.service__content .content__container h5{
    font-weight: 700 ;
    font-size: 25px;
    margin-bottom: 30px;
    
 }

 .services__container .columns.service__content .content__container .para {
    font-size: 70px;
    font-weight: normal;
    margin-top: 10%;
    margin-bottom: 50PX;
 }

 .services__container .columns.service__content .content__container p{
    font-weight: 400 ;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 2rem;
    
 }


/* ------------------------------------------------------------- */

/* ----------- Footer ---------------- */
.footer {
    background-color: var(--bg--service);
    padding: 50px 0;
}

.footer__container{
    /* max-width: 1170px; */
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns:  1fr 1fr  1fr;
    margin-left: 70px;
}

.footer__col ul {
    list-style: none;
}

.footer__col {
    width: 100%;
    padding: 0 15px;
}

.footer__container .address ,
.footer__col h4 {
    font-size: 18px;
    color:var(--hero-first);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

 .footer__col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}



.footer__container .addres ul li a:not(:last-child),
.footer__col ul li a:not(:last-child){
    margin-bottom: 10px;
}


.footer__container .addres ul li a,
.footer__col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block ;
    transition: all 0.3s ease;
}

.footer__col ul li a:hover{
    color:var(--accent);
    padding-left: 8px;
}

.footer__col .social__links{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff
}


.social__links > svg > path {
    transition: fill var(--transition);
  }
  
  .social__links:hover > svg > path {
    fill: var(--accent);
  }
/* ---------------------------------------------------------------------------- */
/* --------------------------- copy right -------------------------- */
#copy-right {
    text-align: center;
    padding: 10px;
}
/*--------------------------------------------------------------------------------  */
/* ------------------- Media ---------------------------- */
@media(max-width:1000px) {
    label.logo {
        padding: 27px 100px;
        font-size: 25px;
    }
    nav ul li a {
        font-size: 16px;
    }

    .checkbtn{
        margin-top: 10px;
    }

    .wrapper{
        display: none;
    }

    .header__bg{
        height: 100vh;
        width: 100%;
    }
    .hero__container .info h6{
        /* margin-top: 15rem; */
    }
    .hero .info{
        margin-top: 150px !important;
        margin-left: 0px !important;
    }
}


@media(max-width:905px) {
    .row {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer__col {
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;
        gap: 20px;
    }

    .footer__container .addres ul li a,
    .footer__col ul li a {
        font-size: 14px;
    }

    .row ul {
        background: inherit;
        position:static;
        width: auto;
        height:auto;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__container .address ,
    .footer__col h4 {
        margin-bottom: auto;
    }
    .checkbtn {
        display: block;
        margin-right: 15px;
    }
    ul {
        position:fixed;
        width: 100%;
        height:100vh;
        background: var(--bg--button);
        top:var(--line-height);
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px ;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    /* a:hover{
        background: none;
        color: var(--text1);

    } */
    /* ul.option a.active  {
        color: var(--hero-first);
        background:none;
    } */
    
    #check:checked ~ ul {
        left:0;
    }
    label.logo {
        padding: 27px 100px;
        font-size: 15px !important;
    }


    .header__nav {
        height: 75px;        
    }

    .header__bg{
        /* height: 100 !important; */
        width: 100%;
    }

    .hero__container .info h6{
        /* margin-top: 15rem; */
    }
    .hero__container .info h2{
        font-size: 3rem !important;
    }

    .services__container{
        flex-flow: row wrap;
    }

    /* .services__container .columns{
        width: 100%;
    } */

    .services__container .columns.service__image{
        display: block;
        order: 1;
        width: 100%;
        height: 300px;

    }

    .services__container .columns.service__content {
        display: block;
        order: 2;
        width: 100%; 
        height: 50%;
    }

    .services__container .columns.service__content .content__container{
        padding: 20px 35px;
    }

    .services__container .columns.service__content .content__container h5{
        margin-bottom: 5px;
    }
    .services__container .columns.service__content .content__container .para{
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .content__container a{
        margin-bottom: 50px;
    }
    .about__sub h2{
        font-size: 1.2rem;
    }
    .about__sub p{
        font-size: 12px;
        margin: 0px;
    }
    .about__company{
        padding: 25px;
    }
    .service__title{
        font-size: 12px;
        margin: 0px;
    }
    #copy-right{
        font-size: 11px;
    }
    
    span.next, span.prev{
        font-size: 15px;
    }
    span.next{
        right: 2px;
    }
}